
html, body {
    margin: 0;
    padding: 0;
    font-family:CaviarDreams;
    color: #000;
    background-color: #fff;
    }

    @font-face {
        font-family: CaviarDreams; src: url(Font/CaviarDreams.ttf);
    }
    @font-face {
        font-family: CaviarDreamsBold; src: url(Font/CaviarDreams_Bold.ttf);
    }
    @font-face {
        font-family: CaviarDreamsBoldItalic; src: url(Font/CaviarDreams_BoldItalic.ttf);
    }
    @font-face {
        font-family: CaviarDreamsItalic; src: url(Font/CaviarDreams_Italic.ttf);
    }

.header {
    text-align: center;
    z-index: 2;
    position: fixed;
    background-color: #fff;
    width: 100%;
    top: 0;
    height: 70px;
    overflow: hidden;
    color: #000;
    filter:drop-shadow(0px 0px 3px #00000050);
    }

.header_full{
    position: relative;
    width: 900px;
    height: 200px;
    margin:auto;
}

.portfolio_logo {
    position: absolute;
    top: 0px;
    bottom: 0px;
    line-height: 5px;
    padding: 4px 65px 0px 72px;
    font-size: 18px;
    border-right: 3px solid #a14d5b;
    text-align: left;
    color: #000;
    }

.logo_img {
    position: absolute;
    top: 6px;
    left: 0px;
    width: 58px;
    height: 58px;
    filter:drop-shadow(2px 2px 0px #00000050);
    }

.nav{
    position: absolute;
    left: 263px;
    margin: auto;
}

.nav ul {
    height: 80px;
    list-style: none;
    margin: 0 auto; 
    font-size: 15px;
    }

.nav ul li {
    color: #000;
    display: inline-block; 
    line-height: 70px; 
    list-style: none;
    padding: 0 30px;
    }

.nav ul li:hover {
    background: #a14d5b;
    color: #fff;
    cursor: pointer; 
    transition: .3s;
    }

.portfolio_logo:hover {
    color: #a14d5b;
    cursor: pointer;
    filter:drop-shadow(2px 2px 1px #00000050);
    transition: .2s;
      }

    .strong{
        font-family: CaviarDreamsBold;
    }

.about_page{
       position: fixed;
       top: 300px;
       left: 50%;
       transform: translate(-50%, -50%);
   }

.hero{
    position: relative;
    left: -10px;
    height: 300px;
    padding: 0px 15%;
    color:#666;
}

.hero h1{
    color: #000;
}

.hero_img{
    z-index: 1;
    position:relative;
    height: 185px;
    left: 50px;
    top: 45px;
    border: 5px solid #fff;
    filter: drop-shadow(0px 0px 1px #00000050);
}

.learn_more{
    z-index: 1;
    padding: 5px 10px;
    text-decoration: none;
    color: #fff;
    position: relative;
    top: 45px;
    left: -50px;
    width: 80px;
    background-color: #a14d5b;
    border-right: 20px double #f9f3ee;
    filter: drop-shadow(5px 5px 0px #00000050);
}

.learn_more:hover {
    background: #f9f3ee;
    border-right: 40px double #a14d5b;
    color: #a14d5b;
    cursor: pointer; 
    transition: .3s;
}

.hero_title{
    left: 280px;
    top: -165px;
    width: 678px;
    position: relative;
    padding: 10px;
    font-size: 17px;
    line-height: 25px;
}

    .about_me{
        font-family: CaviarDreamsBold;
        text-align: center;
        top: -100px;
        left: -25px;
        position: relative;
        width: 1400px;
        font-size: 20px;
    }

    .about_me ul li{
        color: #a14d5b;
        display: inline-block;
        text-align: center;
        padding: 0 35px;
    }

    .about_me_skillsL{
        border-left: 2px solid #a14d5b90;
    }

    .about_me_skillsR{
        border-right: 2px solid #a14d5b90;
    }

.projects_location{
    top:420px;
    position: absolute;
    width: 100%;
}

.projects {
    border-left: 50px double #fff;
    border-right: 50px double #fff;
    color: #666;
    background-color: #f9f3ee;
    position: relative;
    padding: 0px 10px;
    top:420px;
    filter: drop-shadow(0px -60px 30px #fff);
}

.projects hr{
    color: #fff;
    border: 3px dashed #fff;
}

.projects_title{
    font-family: CaviarDreamsBold;
    position: relative;
    top: 10px;
    padding: 0px;
    font-size: 60px;
    color: #fff;
    text-align: center;
    height: 80px;
    border-bottom:5px solid #fff;
}

.projectsL{
    width: 1320px;
    height: 360px;
    text-align: left;
    margin: auto;
}

.projectsL_title{
    padding: 10px 20px;
    text-align: center;
    z-index: 1;
    left: 35px;
    top: -15px;
    color: #fff;
    position: relative;
    width: 270px;
    background-color: #a14d5b;
    border-right: 40px double #f9f3ee;
    filter: drop-shadow(4px 4px 0px #00000050);
}

.architecture_text{
    width: 250px;
    height: 100%;
    top: -36px;
    line-height: 25px;
    padding: 0px 12px;
    position: relative;
    border-left: 3px solid #a14d5b;
}

.game3d_text{
    width: 250px;
    height: 100%;
    top: -120px;
    line-height: 25px;
    padding: 0px 12px;
    position: relative;
    border-left: 3px solid #a14d5b;
}

.see_moreR{
    padding: 5px 20px;
    text-decoration: none;
    color: #fff;
    position: relative;
    top: 26px;
    width: 100px;
    background-color: #a14d5b;
    border-right: 20px double #f9f3ee;
    filter: drop-shadow(5px 5px 0px #00000050);
}

.see_moreR:hover {
    background: #f9f3ee;
    border-right: 40px double #a14d5b;
    color: #a14d5b;
    cursor: pointer; 
    transition: .3s;
}

.projects ul li{
    top:-50px;
    position: relative;
    display: inline-block;
    padding: 0 2px;
    /*padding-right: 10px;
    filter: drop-shadow(0px 0px 3px #00000050)*/
}

.projectsLvids{
    border: 4px solid #fff;
    height: 300px;
    width: 300px;
    filter: drop-shadow(0px 0px 1px #00000050);
}

.projectsLvids1{
    border: 4px solid #fff;
    height: 357px;
    filter: drop-shadow(0px 0px 1px #00000050);
}

.projectsLvids2{
    border: 4px solid #fff;
    height: 173px;
    filter: drop-shadow(0px 0px 1px #00000050);
}

.projectsR{
    width: 1320px;
    height: 360px;
    text-align: right;
    margin: auto;
    position: relative;
    right: 60px;
}

.projectsR_title{
    padding: 10px 20px;
    text-align: center;
    z-index: 1;
    left: 6px;
    top: -15px;
    color: #fff;
    position: relative;
    margin-left: auto;
    width: 270px;
    background-color: #a14d5b;
    border-left: 40px double #f9f3ee;
    filter: drop-shadow(-4px 4px 0px #00000050);
}

.game2d_text{
    width: 250px;
    height: 100%;
    top: -120px;
    line-height: 25px;
    padding: 0px 12px;
    position: relative;
    border-right: 3px solid #a14d5b;
}

.projectsRvids1{
    border: 4px solid #fff;
    height: 357px;
    filter: drop-shadow(0px 0px 1px #00000050);
}

.projectsRvids2{
    border: 4px solid #fff;
    height: 173px;
    filter: drop-shadow(0px 0px 1px #00000050);
}

.overlaycontentB{
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    position: absolute;
    background: #a14d5b90;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    transition: 0.5s;
    opacity: 0;
    text-align: center;
}

.overlaycontentSt{
    width: 100%;
    height: 50%;
    top:0;
    left: 0;
    position: absolute;
    background: #a14d5b90;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    transition: 0.5s;
    opacity: 0;
}

.overlaycontentSb{
    width: 100%;
    height: 50%;
    top:50%;
    left: 0;
    position: absolute;
    background: #a14d5b90;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    transition: 0.5s;
    opacity: 0;
}

.overlaycontentB:hover{
    opacity: 1;
}

.overlaycontentSt:hover{
    opacity: 1;
}

.overlaycontentSb:hover{
    opacity: 1;
}

.see_moreL{
    padding: 5px 20px;
    text-decoration: none;
    color: #fff;
    position: relative;
    top: 26px;
    width: 100px;
    background-color: #a14d5b;
    border-left: 20px double #f9f3ee;
    filter: drop-shadow(-5px 5px 0px #00000050);
}

.see_moreL:hover{
    background: #f9f3ee;
    border-left: 40px double #a14d5b;
    color: #a14d5b;
    cursor: pointer; 
    transition: .3s;
}

.cv_page{
    position: relative;
    background-color: #f9f3ee;
    height: 1250px;
}

.cv{
    top: 90px;
    position: relative;
    margin: auto;
    background-color: #fff;
    border-right: 60px double #f9f3ee;
    width: 1000px;
    height: 1100px;
}

.cv_img{
    z-index: 1;
    position:relative;
    height: 185px;
    left: 33px;
    top: 50px;
    border-radius: 100px;
    border: 3px solid #fff;
}

.cv_textL{
    color: #fff;
    background-color: #a14d5b;
    position: absolute;
    width: 231px;
    height: 850px;
    padding: 250px 10px 0px 15px;
}

.cv_textL h3{
    font-weight: 100;
    position: relative;
    top: 12px;
}

.infoL{
    position: relative;
    font-size:13px;
    color: transparent;
    text-shadow: 0 0 0 #fff;
}

.descriptionL{
    position: relative;
    top: 10px;
    font-size: 11px;
}

.cv_title{
    left: 280px;
    top: -165px;
    width: 680px;
    position: relative;
    padding: 10px;
}

.cv_title article{
    line-height: 25px;
}

.cv_textR{
    left: 280px;
    top: 214px;
    position: absolute;
    padding: 10px;
    width: 660px;
    font-size: 14px;
}

.education{
    position: relative;
    line-height: 0px;
    top: 26px;

}

.education p.date{
    position: relative;
    font-size: 12px;
    top: -6px;
}

.experience{
    position: relative;
    line-height: 0px;
    top: 26px;
}

.experience article{
    line-height: 25px;
}

.experience p.links{
    color: #666;
    position: relative;
    top: -10px;
    font-size: 12px;
    line-height: 16px;
}

.experience p.date{
    position: absolute;
    font-size: 12px;
    top: 18px;
    left: 522px;
}
.skills {
    position: relative;
    line-height: 0px;
    top: 50px;
}

.skills ul{
    position: relative;
    top: -20px;
    display: inline-block;
    width: 150px;
    padding-left: 0px;
    padding-right: 0px;
    line-height: 28px;
}

.colored{
    color: #a14d5b;
}

.cv_textL hr{
    border: 1px solid #fff;
    width: 400px;
}

.cv_textR hr{
    border: 1px solid #a14d5b;
}

.cv_textR p{
    line-height: 10px;
    font-size: 15px;
}

.about_img{
    margin: auto;
    position:relative;
    top: -90px;
    left: -50px;
    width: 200px;
}

.logo_gif {
    height: 160px;
    filter:drop-shadow(0px 0px 1px #fff);
}

.logo_gif:hover {
    filter:drop-shadow(0px 0px 5px #fff);
    transition: .3s;
}

.contact_page {
    height: 260px;
    color: #fff;
    background-color: #a14d5b;
    position: relative;
    padding: 0px;
    border-bottom:5px double #fff;
    filter:drop-shadow(0px -0px 5px #00000050);
}

.contact_title{
    font-family: CaviarDreamsBold;
    position: relative;
    padding-bottom: 18px;
    padding-left: 15px;
    font-size: 20px;
    line-height: 40px;
    color: #fff;
    text-align: center;
    height: 20px;
    border-bottom:2px solid #fff;
}

.contact_info{
    position: relative;
    text-align: center;
    top: 130px;
    margin: auto;
    padding-left: 10px;
    height: auto;
    width: 600px;
}